<%= "Ask your coach anything:" %>
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!" placeholder=".ldsvhls..">
</form>


<%=@greeting%>

<!--<% if true %>
<%= 'George was here' %>
<% end %>